:root {
    --aztecGold: #af734a;
    --bistre: #fffaf1;
    --brownSugar: #c7934e;
    --dutchWhite: #a05e2b;
    --coconut: #efe0bb;
    --floralWhite: #3b271d;
    --linkHover: #ff9234;
    --mainColor: #ffffff;
    --mainOpponentColor: #000000;
    --secondaryColor: #414141;
}
