:root {
    --mainColor: #ffffff;
    --mainOpponentColor: #000000;
    --secondaryColor: #414141;
    --bistre: #FFFAF1;
    --coconut: #EFE0BB;
    --brownSugar: #C7934E;
    --aztecGold: #AF734A;
    --dutchWhite: #A05E2B;
    --floralWhite: #3B271D;
    --linkHover: #ff9234;
}