* {
    box-sizing: border-box;
    margin: 0;
    font-family: "Maven Pro", sans-serif;
    word-wrap: break-word;
}

:root {
    --mainColor: #000000;
    --mainOpponentColor: #ffffff;
    --secondaryColor: #c9cfd6;
    --bistre: #3b271d;
    --coconut: #a05e2b;
    --brownSugar: #af734a;
    --aztecGold: #c7934e;
    --dutchWhite: #efe0bb;
    --floralWhite: #fffaf1;
    --linkHover: #fddb3a;
    --workWidth: 300px;
    --workImageHeight: calc(var(--workWidth) * 3 / 4);
    --designImageHeight: calc(var(--workWidth));
}

body {
    background-color: var(--floralWhite);
    height: 100vh;
    transition: 0.3s;
}

.theme-switcher {
    right: 16px;
    top: 16px;
    position: absolute;
    display: flex;
    background-color: var(--bistre);
    border-radius: 100%;
    width: 52px;
    height: 52px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.3s;
}

.theme-switcher:hover {
    transform: scale(1.1);
}

.theme-switcher:active {
    transform: scale(1);
}

.theme-switcher i {
    color: var(--mainOpponentColor);
    transition: transform 0.3s;
}

.rotate {
    transform: rotate(360deg);
}

.main-container {
    height: 100vh;
    padding: 80px;
    display: flex;
    align-items: center;
}

h1 {
    font-size: 50px;
    color: var(--bistre);
    /* max-width: 70%; */
    font-weight: 400;
}

.text-highlighted {
    color: var(--brownSugar);
}

.projects {
    margin: 60px auto;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
    justify-content: center;
}

.projects h2 {
    font-size: 46px;
    text-align: center;
    margin: auto;
    font-weight: 500;
    margin-bottom: 16px;
    color: var(--bistre);
}

.projects-item {
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-content: center;
}

.work {
    width: var(--workWidth);
    max-width: 80vw;
    margin: 16px;
}

.card {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.1);
}

.card:active {
    transform: scale(1);
}

.image-container {
    width: 100%;
    height: var(--workImageHeight);
    position: relative;
    border-radius: 10px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
}

.design-image-container {
    width: 100%;
    height: var(--designImageHeight);
    position: relative;
    border-radius: 10px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
}

.work img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: inherit;
}

.kind {
    background-color: rgba(26, 26, 26, 0.85);
    position: absolute;
    right: 8px;
    bottom: 28px;
    padding: 6px;
    border-radius: 8px;
    font-size: 1rem;
    max-width: 90%;
    text-align: end;
}

#work-text {
    padding: 8px 16px;
    position: relative;
    border-radius: 16px;
    top: -20px;
    margin-bottom: -20px;
    width: 90%;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
    background-color: var(--dutchWhite);
}

.title {
    font-size: 20px;
    text-align: center;
    color: var(--bistre);
}

.desc {
    margin: 8px 0;
    color: var(--bistre);
}

footer {
    background-color: var(--bistre);
    border-radius: 10px;
    padding: 20px;
    margin: 60px 32px 32px;
}

footer h4 {
    margin-bottom: 10px;
    font-size: 20px;
    color: var(--floralWhite);
}

footer ul {
    list-style-type: none;
    padding: 0;
}

footer li {
    margin-top: 6px;
    font-size: 16px;
    font-weight: 500;
}

footer a:hover {
    color: var(--linkHover);
}

.profile {
    color: var(--secondaryColor);
}

.text--main {
    color: var(--mainColor);
}

.text--white {
    color: white;
}

.no-decor {
    text-decoration: none;
}

@media only screen and (max-width: 1400px) {
    .projects-item {
        grid-template-columns: repeat(3, auto);
    }

    :root {
        --workWidth: 27vw;
    }
}

@media only screen and (max-width: 950px) {
    .projects-item {
        grid-template-columns: repeat(2, auto);
    }

    :root {
        --workWidth: 39vw;
    }
}

@media only screen and (max-width: 768px) {
    h1 {
        font-size: 45px;
    }

    .projects h2 {
        font-size: 43px;
    }
}

@media only screen and (max-width: 720px) {
    h1 {
        font-size: 40px;
    }

    .projects h2 {
        font-size: 38px;
    }
}

@media only screen and (max-width: 600px) {
    :root {
        --workWidth: 75vw;
    }

    .main-container {
        padding: 60px;
    }

    .projects-item {
        grid-template-columns: repeat(1, auto);
    }

    h1 {
        font-size: 35px;
    }

    .projects h2 {
        font-size: 33px;
    }
}

@media only screen and (max-width: 480px) {
    :root {
        --workWidth: 78vw;
    }

    .main-container {
        padding: 50px;
    }
}

@media only screen and (max-width: 420px) {
    .main-container {
        padding: 40px;
    }

    h1 {
        font-size: 30px;
    }

    .projects h2 {
        font-size: 28px;
    }
}
