@import url('https://fonts.googleapis.com/css?family=Maven+Pro:400,500,600');
@import 'typewrite';
@import 'greet';

* {
  box-sizing: border-box;
  font-family: 'Maven Pro', sans-serif;
  margin: 0;
  transition: 100ms all;
  word-wrap: break-word;
}

:root {
  --aztecGold: #c7934e;
  --bistre: #3b271d;
  --brownSugar: #af734a;
  --coconut: #a05e2b;
  --dutchWhite: #efe0bb;
  --floralWhite: #fffaf1;
  --linkHover: #fddb3a;
  --mainColor: #000000;
  --mainOpponentColor: #ffffff;
  --secondaryColor: #c9cfd6;
}

body {
  background-color: var(--floralWhite);
  height: 100vh;
  transition: 0.3s;
}

.theme-switcher {
  right: 16px;
  top: 16px;
  position: absolute;
  display: flex;
  background-color: var(--bistre);
  border-radius: 100%;
  width: 52px;
  height: 52px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.3s;
}

.theme-switcher:hover {
  transform: scale(1.1);
}

.theme-switcher:active {
  transform: scale(1);
}

.theme-switcher i {
  color: var(--mainOpponentColor);
  transition: transform 0.3s;
}

.rotate {
  transform: rotate(360deg);
}

.greeting-container {
  height: 100vh;
  padding: 80px;
  display: flex;
  align-items: center;
}

h1 {
  font-size: 50px;
  color: var(--bistre);
  font-weight: 400;
}

.text-highlighted {
  color: var(--brownSugar);
}

.projects {
  margin: 60px auto;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  flex-flow: column;
  justify-content: center;
}

.projects h2 {
  font-size: 46px;
  text-align: center;
  margin: auto;
  font-weight: 500;
  margin-bottom: 16px;
  color: var(--bistre);
}

.projects-item {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-content: center;
}

.work {
  width: 100%;
  justify-self: center;
  max-width: 80vw;
  padding: 16px;
}

.card {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  transition: transform 0.3s;
}

.card:hover {
  transform: scale(1.1);
}

.card:active {
  transform: scale(1);
}

.image-container {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 10px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
}

.app-image-container {
  padding-bottom: calc((3 / 4) * 100%);
}

.design-image-container {
  padding-bottom: calc((1 / 1) * 100%);
}

.work .img {
  height: 100%;
  width: 100%;
  border-radius: inherit;
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
}

.kind {
  background-color: rgba(26, 26, 26, 0.85);
  position: absolute;
  right: 8px;
  bottom: 28px;
  padding: 6px;
  border-radius: 8px;
  font-size: 1rem;
  max-width: 90%;
  text-align: end;
}

.work-text {
  padding: 8px 16px;
  position: relative;
  border-radius: 16px;
  top: -20px;
  margin-bottom: -20px;
  width: 90%;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
  background-color: var(--dutchWhite);
}

.title {
  font-size: 20px;
  text-align: center;
  color: var(--bistre);
}

.desc {
  margin: 8px 0;
  color: var(--bistre);
}

footer {
  padding: 60px 32px 32px;
}

footer h4 {
  margin-bottom: 10px;
  font-size: 20px;
  color: var(--floralWhite);
}

footer ul {
  list-style-type: none;
  padding: 0;
}

footer li {
  margin-top: 6px;
  font-size: 16px;
  font-weight: 500;
}

footer a:hover {
  color: var(--linkHover);
}

.footer-wrapper {
  background-color: var(--bistre);
  border-radius: 10px;
  padding: 20px;
}

.profile {
  color: var(--secondaryColor);
}

.text--main {
  color: var(--mainColor);
}

.text--white {
  color: white;
}

.text-no-decor {
  text-decoration: none;
}

@media only screen and (max-width: 767.98px) {
  h1 {
    font-size: 45px;
  }

  .projects h2 {
    font-size: 43px;
  }

  .projects-item {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}

@media only screen and (max-width: 720px) {
  h1 {
    font-size: 40px;
  }

  .projects h2 {
    font-size: 38px;
  }
}

@media only screen and (max-width: 575.98px) {
  .greeting-container {
    padding: 60px;
  }

  h1 {
    font-size: 35px;
  }

  .projects h2 {
    font-size: 32px;
  }
}

@media only screen and (max-width: 420px) {
  .greeting-container {
    padding: 40px;
  }

  h1 {
    font-size: 30px;
  }

  .projects h2 {
    font-size: 27px;
  }
}
